<hr />
<h1>ParticipantEntry</h1>


<div role="tabpanel" class="tab-pane" id="CreatExam">



    <div class="container">
        <div class="row form-horizontal">

            <div class="form-group">
                <div class="col-md-3">@Html.Label("Organization")</div>
                <div class="col-md-5">
                    <select>
                        <option>select..</option>
                    </select>
                </div>
            </div>

            <div class="container">
                <div class="row form-horizontal">

                    <div class="form-group">
                        <div class="col-md-3">@Html.Label("course")</div>
                        <div class="col-md-5">
                            <select>
                                <option>select..</option>
                            </select>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row form-horizontal">

                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("Batch")</div>
                                <div class="col-md-5">
                                    <select>
                                        <option>Select..</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("Name")</div>
                                <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("Reg No")</div>
                                <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("Contact No ")</div>
                                <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("Email")</div>
                                <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("Addres Line 1")</div>
                                <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("Address Line 2")</div>
                                <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("City ")</div>
                                <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("postal Code")</div>
                                <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("Country")</div>
                                <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("Profession")</div>
                                <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">@Html.Label("Highest Academic")</div>
                                <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">@Html.Label("Image")</div>
                                <div class="col-md-3">
                                    <input type="file" name="file" value="Browse" />
                                </div>
                                <div class="col-md-3"><input type="submit" value="Save" class="btn btn-primary" /></div>

                            </div>
                           

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>